MONGODB_ADDRESS="mongodb://localhost"
JWT_SECRET="somesecret"
SESSION_SECRET="anothersecret"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASS=""

CAPTCHA_KEY="0x0000000000000000000000000000000000000000"

DOMAIN="localhost"
ALLOWED_ORIGINS=["http://localhost:8080"]

SMTP_SERVICE="gmail"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="

FILE_CDN_SECRET="www"

# Google Drive
DRIVE_CLIENT_ID=""
DRIVE_CLIENT_SECRET=""
DRIVE_URL=""
DRIVE_KEY=""


DEV_MODE=false
