html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
    background-image: url(../Img/BannerBackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: none;
    color: rgb(71, 71, 71);
    font-size: 20px;
}

h1 {
    color: rgb(32, 32, 32);
}

/* Header stuff  */

header {
    width: 100%;
    height: 500px;
}

.navigationStrip {
    background-color: rgba(255, 255, 255, 0.486);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1111;
}

.stripLogo {
    margin-top: 30px;
    overflow: hidden;
    opacity: 0;
    display: inline-block;
}

.navButtons {
    display: inline-block;
    float: right;
    margin-top: 35px;
    margin-right: 30px;
    color: white;
    user-select: none;
}

.navButton {
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 5px;
    cursor: pointer;
}

.navButton:hover {
    border-bottom: solid 3px white;
}

.selectedButton {
    border-bottom: solid 3px white;
}

.stripLogoInner {
    background-image: url(../Img/Logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.stripmusicaText {
    background-image: url(../Img/MusicaText.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.logoContainer {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.logoBackgroundBlur {
    background-image: url(../Img/BannerBackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(12px) brightness(110%);
    margin-top: -50px;
    width: 100%;
    height: 700px;
    margin-top: 80px;
}

.headerLogoContainer {
    left: 50%;
    margin-left: -101px;
    position: absolute;
    margin-top: 70px;
    z-index: 1;
    transition: .5s;
    transform: scale(1.3);
    margin-top: 110px;
}

.headerLogo {
    margin: auto;
    background-image: url(../Img/Logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 200px;
    transition: 2s ease;
}

.musicaText {
    background-image: url(../Img/MusicaText.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 100px;
}

.joinServerButton {
    background-color: #8c9dffab;
    width: 150px;
    height: 40px;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    margin: auto;
    color: white;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
}

.discordLogo {
    background-image: url(../Img/discord.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.joinServerButton:hover {
    background-color: #8c9eff;
    box-shadow: 0px 0px 12px #00000061;
    transform: scale(1.1)
}

.learnMoreButton {
    border: solid 1px #ffffff4b;
    background-color: rgba(0, 0, 0, 0.185);
    width: 150px;
    height: 40px;
    font-size: 20px;
    padding-top: 15px;
    margin: auto;
    color: white;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.learnMoreButton:hover {
    border: solid 2px #ffffff;
    box-shadow: 0px 0px 12px #00000061;
    transform: scale(1.1)
}

.informationBoxOne {
    background-color: rgba(255, 255, 255, 0.801);
    width: calc(100% - 200px);
    margin-top: 500px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.informationBoxTwo {
    background-color: rgba(255, 255, 255, 0.801);
    width: calc(100% - 200px);
    margin-top: 500px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.iframeMembers {
    width: 600px;
    height: 600px;
    display: inline-block;
    opacity: 0.7;
    transition: 0.5s ease;
    margin-right: 50px;
}

.iframeMembers:hover {
    opacity: 0.9;
}

.innerInfoBoxTwo {
    display: inline-block;
    vertical-align: top;
}

.botImg {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.botsList {
    text-align: center;
    font-size: 15px;
}

.ownersList {
    font-size: 15px;
}

.botsList p {
    margin: 0px;
    padding: 10px;
}

.bot {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    border: solid 3px white;
    background: rgba(0, 0, 0, 0.11);
    padding: 10px;
    height: 230px;
    cursor: default;
}

a {
    color: white;
    text-decoration: none;
}